* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  background-color: #aaafb4;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

#portada {
  filter: brightness(0.2);
  height: 300px; }

.contenedor {
  box-sizing: border-box;
  height: 100%; }

#portada img {
  height: 100%; }

h2 {
  display: none; }

.container .logo a {
  font-family: 'Jolly Lodger', 'Jolly Logder';
  color: #d87b7b;
  text-decoration: none;
  font-size: 4rem;
  position: relative;
  top: 20px;
  left: 20px; }

.img-juegos {
  width: 20vw; }

#lomascomprado {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2vw;
  justify-items: center; }
  #lomascomprado h2 {
    display: none; }
  #lomascomprado img {
    object-fit: cover;
    height: 20vw; }

.fotos1 {
  width: 100%;
  margin-right: 1px;
  transition: transform 0.3s, filter 0.3s;
  position: relative;
  margin: 20px;
  padding: 10px; }
  .fotos1:last-child {
    margin-right: auto; }
  .fotos1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.2);
    transition: filter 0.7s; }
  .fotos1:hover {
    transform: scale(1.02); }
  .fotos1:hover img {
    filter: brightness(1); }

#lomasvendidos {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  #lomasvendidos h2 {
    display: none; }
  #lomasvendidos img {
    object-fit: cover;
    height: 25vw;
    width: 100%; }

.fotos2 {
  width: 100%;
  height: 520px;
  margin-right: 50px;
  transition: transform 0.3s, filter 0.3s;
  position: relative; }
  .fotos2:last-child {
    margin-right: auto; }
  .fotos2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.2);
    transition: filter 0.7s; }
  .fotos2:hover {
    transform: scale(1.02); }
  .fotos2:hover img {
    filter: brightness(1); }

#catalogo {
  display: flex;
  background-color: #aaafb4;
  align-items: flex-start;
  padding: 20px; }

.enlaces-categoria {
  width: 20%;
  height: 100px;
  text-align: center;
  background-color: #aaafb4; }
  .enlaces-categoria h1 {
    color: black;
    margin-bottom: 50px;
    font-size: 50px; }
  .enlaces-categoria ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #aaafb4; }
  .enlaces-categoria li {
    margin-bottom: 30px; }
  .enlaces-categoria a {
    text-decoration: none;
    color: #d87b7b;
    font-size: 30px; }

.productos-container {
  background-color: #989ea5;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.productos1 {
  width: 48%;
  margin-bottom: 20px; }
  .productos1 h4 {
    font-size: 18px;
    margin: 10px 0;
    text-align: center; }

.imagen-producto {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: stretch; }
  .imagen-producto img {
    max-width: 560px;
    height: 300px;
    object-fit: cover; }

h1 {
  font-family: 'Jolly Lodger';
  font-size: 100px;
  text-align: center; }

.videos {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10vw; }

.video {
  width: auto;
  height: 20vw; }

.titulo {
  text-align: center;
  margin-top: 40px; }

#estrenos {
  text-align: center;
  margin: 40px 0; }

.estrenos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.estreno {
  object-fit: cover;
  margin: 10px;
  text-align: center; }
  .estreno p {
    margin-top: 10px; }
  .estreno img {
    object-fit: cover; }

.imagen-producto1-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20vw;
  padding: 20px; }
  .imagen-producto1-container .imagen-producto1 {
    position: relative;
    box-shadow: 5px 5px 5px black;
    overflow: hidden; }
    .imagen-producto1-container .imagen-producto1 .image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s; }
    .imagen-producto1-container .imagen-producto1:hover .image-overlay {
      opacity: 1; }

#formulario {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 30px auto;
  max-width: 600px;
  text-align: center; }
  #formulario label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold; }
  #formulario input,
  #formulario textarea,
  #formulario button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; }
  #formulario button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer; }

.form-main {
  background: linear-gradient(to bottom, black, white); }

footer,
.pie {
  color: white;
  background-color: black;
  display: flex;
  padding: 10px; }

.pie {
  text-align: center; }

@media (max-width: 425px) {
  #portada img {
    height: 100%;
    width: 100vw; }

  .estrenos-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }

  .imagen-prouctos1 {
    width: 100vw; }

  #lomascomprado {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px; }

  main #catalogo .productos-container {
    display: flex;
    flex-direction: column;
    align-items: center; }

  footer,
  .pie {
    color: white;
    background-color: black;
    display: flex;
    width: 100vw; } }
@media (max-width: 768px) {
  .container .logo a {
    margin-top: 50px; }

  .estrenos-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }

  #lomascomprado {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px; }

  .fotos1,
  .fotos2 {
    width: 100%;
    height: auto;
    margin-right: 0;
    padding: 0px;
    text-align: center; }

  #lomasvendidos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px; }

  .fotos1,
  .fotos2 {
    margin-bottom: 20px;
    margin: 0; }
    .fotos1 img,
    .fotos2 img {
      filter: brightness(1);
      transition: none; }

  #lomascomprado img,
  #lomasvendidos img {
    object-fit: cover;
    height: 25vw;
    width: 25vw; }

  .videos {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20vw; }

  .video {
    width: auto;
    height: 50vw; } }

/*# sourceMappingURL=style.css.map */
